<div class="container">
  <form
    #formRegister="ngForm"
    (ngSubmit)="addUser()"
    [formGroup]="newUser"
    action="#"
    id="form-register"
    class="mt-4"
    role="form"
  >
    <legend>Create an account</legend>

    <div class="mb-3">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="nameUser"
        placeholder="Name"
        formControlName="name"
        [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
      />
      @let nameErrors = newUser.get('name')?.errors;
      @if(nameErrors?.['required']){
      <div class="invalid-feedback">Title is required.</div>
      }
    </div>
    <div formGroupName="emailGroup">
      <div class="mb-3">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Email"
          formControlName="email"
          [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
        />

        @let emailErrors = newUser.get('email')?.errors;
        @if(emailErrors?.['required']){
        <div class="invalid-feedback">Email is required.</div>
        } @else if (emailErrors?.['email']) {
        <div class="invalid-feedback">must be properly formatted</div>
        }
      </div>
      <div class="mb-3">
        <label for="emailConfirm">Repeat Email:</label>

        @let emailGroupModel = newUser.get('emailGroup')!; @let email2Model =
        emailGroupModel.get('emailConfirm')!;
        <input
          type="email"
          class="form-control"
          id="emailConfirm"
          name="emailConfirm"
          placeholder="Email"
          formControlName="emailConfirm"
          [class]="{
            'is-valid': email2Model.touched && !emailGroupModel.errors?.['equalValues'],
            'is-invalid': email2Model.touched && emailGroupModel.errors?.['equalValues'],
          }"
        />
      </div>
      @if (emailGroupModel.errors){
      <div class="invalid-feedback">The emails do not match</div>
      }
    </div>

    <div class="mb-3">
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
        formControlName="password"
        [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
      />
      @let passwordErrors = newUser.get('password')?.errors;
      @if(passwordErrors?.['required']){
      <div class="invalid-feedback">password is required.</div>
      } @else if (passwordErrors?.['minLength']) {
      <div class="invalid-feedback">
        password must have at least 4 characters
      </div>
      }
    </div>
    <div class="form-row">
      <div class="mb-3 col">
        <label for="lat">Latitude:</label>
        <input
          type="text"
          class="form-control"
          id="lat"
          name="lat"
          placeholder="Geolocating..."
          readonly
          formControlName="lat"
        />
      </div>
      <div class="mb-3 col">
        <label for="lng">Longitude:</label>
        <input
          type="text"
          class="form-control"
          id="lng"
          name="lng"
          placeholder="Geolocating..."
          readonly
          formControlName="lng"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        id="image"
        name="image"
        #fileImage
        appEncodeBase64
        (encoded)="imageBase64 = $event"
        formControlName="image"
        [validationClasses]="{ valid: 'is-valid', invalid: 'is-invalid' }"
      />
      @let imgErrors = newUser.get('image')?.errors;

      <div class="invalid-feedback">An image is required.</div>
    </div>
    @if(!imgErrors?.['required']){
    <img
      [src]="imageBase64"
      alt=""
      id="imgPreview"
      class="img-thumbnail mb-3"
    />
    }
    <p class="text-danger" id="errorInfo"></p>
    <a class="btn btn-secondary" [routerLink]="['/auth/login']" role="button"
      >Go back</a
    >
    <button type="submit" class="btn btn-primary" [disabled]="newUser.invalid">
      Create account
    </button>
  </form>
</div>
