@if(user()){
<div class="container">
  <div class="row mt-4" id="profile">
    <div class="col-3">
      <div>
        <img class="w-100" id="avatar" src="{{ image() }}" alt="" />
        @if(user().me){
          <label class="btn btn-sm btn-danger">
            <i class="bi bi-image"></i>
            <input
              type="file"
              id="photoInput"
              class="d-none"
              #fileImage
              appEncodeBase64
              (encoded)="editPhoto($event)"
            />
          </label>
        }

      </div>
    </div>

    <div
      class="col-9"
      id="profileInfo"
      [ngClass]="{
        '': showProfileInfo(),
        'd-none': !showProfileInfo()
      }"
    >
      <!--  Cambiar h4 por inputs con un botón -->
      <h4 id="name">{{ user().name }}</h4>
      <h4 id="email">
        <small class="text-muted">{{ user().email }}</small>
      </h4>
      <!-- Añadir campo de modificar password que muestre 2 campos -->
      @if(user().me){
      <div>
        <button
          class="btn btn-primary"
          id="editProfile"
          (click)="editProfile()"
        >
          <i class="fa-regular fa-pen-to-square"></i>
          Edit profile
        </button>
        <button
          class="btn btn-success"
          id="editPassword"
          (click)="editProfile2()"
        >
          <i class="fa-solid fa-lock"></i>
          Edit password
        </button>
      </div>
      }
      <a [routerLink]="['/events']" [queryParams]="{ creator: user().id }">Created events </a>
      <a [routerLink]="['/events']" [queryParams]="{ attending: user().id }"> Attending</a>
    </div>

    <div
      class="col-9"
      id="profileForm"
      [ngClass]="{
        '': showEditProfile(),
        'd-none': !showEditProfile()
      }"
    >
      <form
        #formEvent="ngForm"
        [formGroup]="newEdit"
        (ngSubmit)="editNameEmail()"
      >
        <div class="mb-3">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            name="name"
            id="name"
            placeholder="Name"
            formControlName="name"
          />
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button
          type="button"
          class="btn btn-danger"
          id="cancelEditProfile"
          (click)="editProfile()"
        >
          Cancel
        </button>
      </form>
    </div>

    <div
      class="col-9"
      id="passwordForm"
      [ngClass]="{
        '': showEditPassword(),
        'd-none': !showEditPassword()
      }"
    >
      <form
        #formEvent="ngForm"
        [formGroup]="newPassword"
        (ngSubmit)="editPassword()"
      >
        <div class="mb-3">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Password"
            formControlName="password"
          />
          <label for="password2">Repeat password:</label>
          <input
            type="password"
            class="form-control"
            name="password2"
            id="password2"
            placeholder="Repeat password"
            formControlName="password2"
          />
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
        <button
          type="button"
          class="btn btn-danger"
          id="cancelEditPassword"
          (click)="editProfile2()"
        >
          Cancel
        </button>
      </form>
    </div>
  </div>

  <div class="card mt-4">
    <div id="map">
      <ol-map [coordinates]="coordinates()">
        <ol-marker [coordinates]="coordinates()"></ol-marker>
      </ol-map>
    </div>
  </div>
</div>
}
